<div id="search" ng-controller="SearchCtrl" class="pull-right">
  <form class="navbar-search" method="get" action="http://www.google.com/search">
    <input type="hidden" name="sitesearch" value="docs.deployd.com" />
    <input value="<%= data.q || '' %>" placeholder="search docs" id="search-input" name="q" type="text" ng-change="change()" ng-model="input" />
  </form>
  <ul id="search-terms" class="typeahead unstyled" ng-show="terms.length" ng-cloak>
    <li ng-repeat="term in terms" class="{{ term.active && 'active' }}" ng-click="choose($index)">
      {{ term.title || term.reference }}
    </li>
  </ul>
</div>

<% /*script('search')*/ %>
