<div id="subnav" class="span3">
  <%- partial('search') -%>
  <ul class="nav nav-list">
    <li class="nav-header">Deployd v0.6.8 Docs</li>
    <li><a href="/">Table of Contents</a></li>
  </ul>
  
  <%- partial('toc', {docs: data.docs, current: data.current}) -%>
</div>
