<%
function isShallow(d) {
  return d.depth() < 3;
}

function dir(d) {
  if(isShallow(d) && d.children(true)) {
    %>
      <ul class="nav nav-list">
    <%
    %><li class="nav-header"><%= d.title() %></li><%
      d.children(true).forEach(dir);
    %>
      </ul>
    <%
  } else if(d.public()) {
    file(d);
  }
}

function file(f) {
  %><li><a href="<%= f.url() %>"><%= f.title() %></a></li><%
}

if(data.info) dir(data.info);

%>