<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Deployd</title>
    <link href='/css/prettify.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
    
    <link href="/css/app.css" rel='stylesheet' type='text/css'>
  </head>

  <body>
    <%- body %>
  </body>
</html>