

<div class="row">
  <div class="span6">
    <h4>We couldn't find a doc at <code><%= data.url %></code></h4>

    <strong>If you don't mind... posting the this url as <a href="https://github.com/deployd/docs/issues">an issue here</a>
    will help us fix this pretty quickly.
    <% if(data.referer) { %>
      It looks like you got to this page from: <code><%= data.referer %></code>.</strong>
    <% } %>
  
  </div>
  <div class="span6">
    <code><h1 style="font-size: 100px; float: right;">404</h1></code>
  </div>
</div>