<h1>Something went horribly wrong.</h1>

<strong>If you don't mind... posting the following as <a href="https://github.com/deployd/docs/issues">an issue here</a> will help us fix this pretty quickly.</strong>

<h3>Error</h3>
<pre class="server-error"><%= data.error %></pre>

<h3>Stack</h3>
<pre class="server-error"><%= data.error.stack %></pre>