<%

function dir(d) {
  %>
    <ul>
  <%
    if(d.files) {
      %><li><%= d.title %></li><%
      d.files.forEach(dir);
    } else {
      file(d);
    }
  %>
    </ul>
  <%
}

function file(f) {
  %><li><a href="<%= f.path %>"><%= f.title %></a></li><%
}

dir({files: data.docs, path: 'docs', title: 'docs'});

%>