<div id="bar" data-spy="affix">
  <%- partial('search', data) %>
  <ul id="breadcrumb" class="unstyled">
    <li>Docs</li>
  </ul>
</div>

<div id="index" class="row">
  <div class="span6">
    <h3>Guides</h3>
    <%- partial('toc', {info: data.rootInfo}) -%>
  </div>
  <div class="span6">
    <h3>API Reference</h3>
    <%- partial('reference', {refs: data.refs, depth: 1}) %>
  </div>
</div>

