<!--
<div id="index">
  <div id="home">
  ...home content...
  </div>
  <a name="/guides"></a>
  <div id="guides">
    <h3>Guides</h3>
    <%- partial('guides', {info: data.rootInfo}) -%>
  </div>
  <a name="/references"></a>
  <div id="references">
    <h3>References</h3>
    <%- partial('reference', {refs: data.refs, depth: 1}) %>
  </div>
  <a name="/apis"></a>
  <div id="apis">
    <h3>APIs</h3>
    <%- partial('api', {refs: data.refs}) %>
  </div>
</div>
-->