@import "../../bootstrap/less/bootstrap.less";

body > .container > .row {
  padding-top: 80px;
}

/**
 * --- Global Styles ---
 */

/**
 * Navs
 */

/**
 * Bar
 */

#bar {
  line-height: 40px;
  padding-top: 20px;
  width: 940px;
  background: #fff;
}

/**
 * Search
 */

#search {
  float: right;
}

/**
 * Breadcrumb
 */
 
#breadcrumb {
  text-transform: capitalize;
  font-size: 18px;
  span {
    margin: 0 10px;
  }
  li {
    display: inline-block;
  }
}

/**
 * Subnav
 */
 
#subnav {
  .affix {
    width: 218px;
    margin: 30px 0 0 0;
  }
}

/**
 * Doc
 */

.doc {
  padding-top: 9px;
  h2 {
    border-bottom: solid 1px @gray;
  }
  margin-bottom: 222px;
  p {
    margin: 20px 0;
  }
}

/**
 * --- View Specific Styles ---
 */
 
/**
 * Index
 */
 
#index ul.nav ul.nav {
  .well();
  width: 243px;
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
}

/**
 * Explorer
 */
 
#explorer {
  a {text-transform: capitalize;}
  #files {
    margin-left: 10px;
    li {
      .clearfix();
      margin-top: 10px;
    }
    i {display: block; float: left; width: 20px; margin-top: 2px;}
    span {display: block; width: 182px; float: left;}
  }
}

#references {
  ul {
    margin-left: 10px;
    li {
      .clearfix();
      margin-top: 10px;
    }
    i {display: block; float: left; width: 20px; margin-top: 2px;}
    span {display: block; width: 182px; float: left;}
  }
  &.affix {
    top: 77px;
  }
}

/**
 * Section
 */
 
.section {
  padding: 10px;
  margin: 10px;
  border: solid 1px red;
}

.reference {
  background: #e8e8e8;
}